.small {
    padding: 100px;

    .small-container {
        display: flex;
        gap: 16px;

        .small-info {
            background: #2A254B;
            color: white;
            padding: 64px;
            display: flex;
            flex-direction: column;
            gap: 32vh;
            height: 480px;

            h2 {
                font-size: 32px;
                font-weight: 400;
                line-height: 39px;
            }

            p{
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
            }
            button {
                padding: 16px 32px;
                background: #F9F9F926;
                border: none;
                color: #ffffff;
                cursor: pointer;
                transition: all .2s ease;
                width: 170px;
            }
            button:hover {
                background: #F9F9F960;
            }
        }
    }
}
